node_modules
.pytest_cache
.terraform
.terraform.tfstate.lock.info
*.tfstate.backup
credentials
.pytest_cache.terraform/
.tfstate
.tfstate.backup
aws-temp.sh
aws-admin-temp.sh
*tfstate
*tfstate.backup
*.tfstate
*.tfstate.backup
